@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-gradient {
    background: linear-gradient(45deg, #060136, #1d639f, #040027);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 100%; }
    50% { background-position: 100% 0%; }
    100% { background-position: 0% 100%; }
}